# Verrazzano "_default" Site Configuration

title = "Verrazzano Enterprise Container Platform"
configDir = "config"
canonifyURLs = "false"
relativeURLs = "true"
baseURL = ""

# Hugo allows theme composition (and inheritance). The precedence is from left to right.
theme = ["hugo-dynamic-tabs", "docsy"]

# Will give values to .Lastmod etc.
enableGitInfo = true

# Language settings
defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false
# Useful when translating.
enableMissingTranslationPlaceholders = true

disableKinds = ["taxonomy", "taxonomyTerm"]

# Configure how URLs look like per section.
[permalinks]
blog = "/:section/:year/:month/:day/:slug/"

# Image processing configuration.
[imaging]
resampleFilter = "CatmullRom"
quality = 75
anchor = "smart"

[params.katex]
enable = true

