.td-max-width-on-larger-screens {
    max-width: 100%;
}

.release-documentation-container {
    display: flex;
    margin-left: 100px;
}

.release-dropdown-container {
    display: inline-block;
    font-weight: bold;
    position: relative;
    vertical-align: top;
}

.release-dropdown-button {
    background: $primary;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 5px;
}
.release-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.release-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.arrow {
    fill: white;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.release-down-arrow {
    display: inline-flex;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid white;
}

.release-dropdown-divider{
    width: 5px;
    height: auto;
    display: inline-block;
}

.release-dropdown-content a:hover {
    background-color: rgb(229, 229, 229);
    color: $primary;
    border-radius: 5%
}

.release-dropdown-container:hover
.release-dropdown-content {
    display: block;
    padding: 5px;
    border-radius: 5%;
}

.release-dropdown-container:hover
.release-dropdown-button {
    background-color: rgb(229, 229, 229);
    color: $primary;
    border-radius: 5%;
}

.release-dropdown-container:hover
.release-down-arrow {
    display: inline-flex;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $primary;
}