.td-max-width-on-larger-screens {
    max-width: 100%;
}
.release-dropdown-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    margin-right: 10px;
}
