/*

Add styles or override variables from the theme here.

*/

$enable-gradients: false;
$enable-rounded: true;
$enable-shadows: false;

$td-enable-google-fonts: true;
$google_font_name: "Open Sans";
$google_font_family: "Open+Sans:300,300i,400,400i,700,700i";

// Verrazzano color pallette
$vz_blue_60: #8FBFD0;
$vz_blue_120: #00688C;
$vz_blue_30: #E4F1F7;
$vz_brand_dark_50: #F0CC71;
$vz_neutral_190: #161513;
$vz_alt_blue: #27368A;
$vz_bg: #E5E5E5;

$primary: $vz_blue_120 !default;
$primary-light: lighten($primary, 90%) !default;
$secondary: $vz_blue_60 !default;
$light: rgb(255, 255, 255) !default;
$grey: #888 !default;
$orange: $secondary !default;
$dark: $primary !default;

$success: $vz_blue_30 !default;
$info: $vz_bg !default;
$warning: $vz_brand_dark_50 !default;

// Border radius
$border-radius: .25rem;
$border-radius-lg: .3rem;
$border-radius-sm: .2rem;

/*
*/
$display1-weight: 500 !default;
$display2-weight: 100 !default;

$primary: #00688C !default;
$primary-light: lighten($primary, 90%) !default;
$secondary: #2d70de !default;
$light: rgb(255, 255, 255) !default;
$orange: $secondary !default;

$lead-font-weight: 400 !default;

.header-color {
  color: black;
}

.text-color {
  color: rgba(22, 21, 19, 0.7);
}

.td-navbar .navbar-brand__name {
  display: none;
}
