+++
title = "Verrazzano Enterprise Container Platform"
linkTitle = "Verrazzano Enterprise Container Platform"

+++

<!--
<div class="hero-image">
    <div class="hero-contents">
        <h1>Verrazzano Enterprise Container Platform</h1>
        <p class="mt-5">An open source, easy-to-adopt container platform for managing applications and Kubernetes clusters across clouds.</p>
        <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
        <a class="btn btn-lg btn-primary mr-3 mb-4" href="https://github.com/verrazzano/verrazzano">View Repository <i class="fab fa-github ml-2 "></i></a>
</div>
-->
{{< blocks/cover title="Verrazzano Enterprise Container Platform" image_anchor="bottom" height="min" color="primary" >}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
        Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://github.com/verrazzano/verrazzano">
		View Repository <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5" style="font-size:150%;" >An open source, easy-to-adopt container platform for managing applications and Kubernetes clusters across clouds.</p>
</div>
{{< /blocks/cover >}}



{{< blocks/section color="success" >}}

{{% blocks/tile icon="fas fa-lightbulb" title="Easy to Adopt" %}}
<ul align="left">
    <li>Familiar open source components</li>
    <li>Simple, easy installation and upgrade</li>
    <li>Cross-cloud consistency &#8212; same tools and behavior regardless of hosting environment</li>
    <li>Flexible configuration and deployment options</li>
    <li>Support from Oracle (with subscription)</li>
</ul>
{{% /blocks/tile %}}

{{% blocks/tile icon="'fas fa-rocket" title="Enhanced Developer Productivity" %}}
<ul align="left">
    <li>Flatten the learning curve for cloud native technology adoption with simple setup and built-in end-to-end automation</li>
    <li>DevOps/GitOps enablement</li>
    <li>Combined infrastructure and application management</li>
    <li>Polyglot &#8211; any container workload</li>
    <li>Application portability across clouds</li>
</ul>
{{% /blocks/tile %}}

{{% blocks/tile icon="fas fa-shield-alt" title="Secure by Default" %}}
<ul align="left"> 
    <li>Preconfigured and automated service mesh for network traffic protection</li>
    <li>Embedded identity provider for Verrazzano and application protection</li>
    <li>Easy federation to corporate LDAP or Oauth providers</li>
    <li>Cross-cluster authentication and authorization</li>
    <li>Automatic certificate management</li>
</ul>
{{% /blocks/tile %}}

{{< /blocks/section >}}

{{< blocks/section color="success" >}}

{{% blocks/tile icon="fa-cogs" title="Day 2 Multi-Cloud Operations" %}}
<ul align="left">
    <li>Centralized cross-cloud cluster and application management</li>
    <li>Centralized automated observability</li>
    <li>Optimized multicloud application life cycle</li>
    <li>Application portability across clouds</li>
</ul>
{{% /blocks/tile %}}

{{% blocks/tile icon="fa-cloud-upload-alt" title="Application Modernization" %}}
<ul align="left">
    <li>Complete platform for Day 1 and Day 2 cluster and application operations</li>
    <li>Easily move traditional applications to containers; manage in the same platform with new microservices</li>
    <li>Write new microservices using Java or other programming languages</li>
    <li>Use Coherence for in-memory data processing, application performance improvements, and state management</li>
</ul>
{{% /blocks/tile %}}


{{% blocks/tile icon="fas fa-chart-line" title="New Application Development" %}}
<ul align="left">
    <li>Application modeling for enhanced microservice cross-cloud life cycle and application portability</li>
    <li>Day 1 and Day 2 automated operations</li>
    <li>Write new microservices using Java or other programming languages</li>
    <li>Use Coherence for in-memory data processing, application performance improvements, and state management</li>
</ul>
{{% /blocks/tile %}}


{{< /blocks/section >}}
