+++
title = "Verrazzano Enterprise Container Platform"
linkTitle = "Verrazzano Enterprise Container Platform"

+++

{{< blocks/cover title="Verrazzano Enterprise Container Platform" image_anchor="top" height="full" >}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
        Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://github.com/verrazzano/verrazzano">
		View Repository <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">A hybrid multicloud Kubernetes-based Enterprise Container Platform for running both cloud-native and traditional applications.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}



{{< blocks/section >}}

{{% blocks/feature icon="fas fa-sync" title="Application Lifecycle Management" %}}
Use Open Application Model constructs to describe, deploy, and update multicomponent application systems across clusters in multiple clouds, including clusters on premises.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-heartbeat" title="Integrated Monitoring" %}}
Verrazzano can provision a full monitoring stack for your application, including OpenSearch, OpenSearch Dashboards, Prometheus, and Grafana.  Your applications are automatically wired up to send logs and metrics into the monitoring tools.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-shield-alt" title="Security" %}}
Built in security with encryption, certificate management, authentication and authorization services, and network policies.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/verrazzano/verrazzano" %}}
We do a [Pull Request](https://github.com/verrazzano/verrazzano/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fab fa-slack" title="Connect with us on Slack!" url="https://bit.ly/3gOeRJn" %}}
For project discussions.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/verrazzano_io" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
