/* You can add custom styles here. */

// @import "plugins/numbered";


.linenum {
    color: black;
    position: relative;
    top: -.125em;
    margin: 2px;
    background-color: white;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: 20px;
    margin-right: 8px;
    min-width: 20px;
    width: 20px;
}

.linenumref {
    color: white;
    position: relative;
    top: -.125em;
    margin: 2px;
    background-color: black;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: 20px;
    margin-right: 8px;
    min-width: 20px;
    width: 20px;
}